
.login{
	padding:  40px;
	margin:auto;
	margin-top: 100px;
	height: 400px;
	max-width: 250px;
	width: 100%;
	background: #fff;
	border-radius: 6px;
	-webkit-box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.1);
}
h2{
	margin: 0 0 30px 0;
	padding: 10px;
	color: #856849;
	text-align: center;
}input{
	width:100%;
	margin-bottom: 30px;
}input[type=text], input[type=password]{
	background-color: white;
	height: 45px;
	padding: 0px 15px;
	color: #151515;
	border: 1px solid black;
	font-size: 16px;
	font-weight: 600;
	-webkit-box-shadow: none;
	box-shadow: none;
	border-radius: 40px;
	-webkit-transition: 0.2s all;
	transition: 0.2s all;
}
::placeholder{
	color: black;
	text-align:center;
}
input[type=submit]{
	border: none;
	outline: none;
	padding: 10px;
	color:#fff;
	font-size: 16px;
	font-family: Arial;
	background: #333;
	cursor: pointer;
	border-radius: 20px;
	width: 98%;
}input[type=submit] :hover{
	background: #efed40;
	color: #262626;
}a{
	color: #262626;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 30px;
}a:hover{
	text-decoration: underline;

}
.container#blur.active{
    filter:blur(10px);
}
#myModal.active{
    visibility: visible;
    opacity: 1;
    transisition:0.5%;
}